@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ------------------common css--------------- */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* -------------------common css end---------- */
/* -----------------headding css ------------*/
.container_header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3 {
    font-size: 36px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;
}

.he {
    color: #FF5400;
}

.container_header ul {
    display: flex;
    list-style: none;
    gap: 44px;

}

.container_header ul li a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    color: #424247;
}
.fa-bars{
    display: none;
}

/* ---------------hadding css end -----------*/
/* -----------------banner css ------------*/
.container_banner {
    max-width: 100%;
    background: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 16px;
}

.banner_bg {
    max-width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 106px 20px;

}

.banner_text {
    max-width: 676px;
    text-align: center;
}

.banner_text h1 {
    font-size: 64px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #ffff;
}

.banner_text p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #ffff;
    line-height: 25px;
}

.banner_form {
    max-width: 800px;
    background: #ffffff75;
    padding: 20px;
    border-radius: 8px;


}

.banner_form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.banner_form form input,
.banner_form form select {
    width: 174px;
    padding: 16px;
    border-radius: 8px;
    border: none;

}

button {
    width: 174px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    font-family: "Mulish", sans-serif;
    background: #FF5400;
    border: none;
    border-radius: 8px;

}

/* ---------------banner css end -----------*/
/* -----------------tours css ------------*/
.container_tour {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.container_tour .leka {
    max-width: 577px;
    margin-right: 53px;
}

.container_tour .leka h4 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;

}

.container_tour .leka p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318ad;
}

.container_tour .leka button {
    margin-top: 32px;
    width: 174px;
    height: 52px;
    font-size: 20px;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    color: #ffff;
    background: #FF5400;
    border-radius: 10px;
}
.fa-circle{
    font-size: 6px;
    margin-right: 10px;
}
.container_tour .sobi img{
    width: 100%;
}

/* ---------------tours css end -----------*/
/* -----------------Destination css ------------*/
.container_destination {
    max-width: 100%;
    margin: 0 auto;
}

.container_destination .slaid_text {
    /* text-align: center; */
    margin-top: 100px;
}

.container_destination .slaid_text h4 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;
    text-align: center;
}

.container_destination .slaid_text p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
    text-align: center;
    max-width: 643px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.grid_item_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;

}

.grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    min-height: 300px;
}

.grid_item h3 {
    font-size: 28px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #ffff;
}

.item1 {
    background: url(Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1 / span 6;

}

.item2 {
    background: url(Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 7 / span 6;

}

.item3 {
    background: url(Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1 / span 4;

}

.item4 {
    background: url(Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 5 / span 5;

}

.item5 {
    background: url(Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 10 / span 3;

}

.item6 {
    background: url(Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1 / span 5;

}

.item7 {
    background: url(Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 6 / span 7;

}

/* ---------------Destination css end -----------*/
/* -----------------Choose css ------------*/
.container_choose {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 100px;

}

.container_choose .what1 h4 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;
    text-align: center;
}

.container_choose .what1 p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
    max-width: 643px;
    margin: 0 auto;
    text-align: center;
}
.what2{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}
.container_choose .what {
    width: 520px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    display: flex;
    flex-direction: column;
    padding: 25px;

}
.container_choose .what img{
    width: 70px;
}

.container_choose .what h5 {
    font-size: 24px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;
    text-align: left;
}
.container_choose .what p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318;
    text-align: left;
}

/* ---------------Choose css end -----------*/
/* -----------------Discounts css ------------*/
.container_discount {
    max-width: 100%;
    margin: 0 auto;

}
.container_discount .taka1 h3 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;
    text-align: center;
}
.container_discount .taka1 p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
    text-align: center;
    max-width: 643px;
    margin: 0 auto;
    text-align: center;
}

.discount_img {
    background: url(Images/Group\ 39.png);
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 52px;
    border-radius: 16px;
    margin-top: 50px;
}

.container_discount .taka2 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    max-width: 580px;
    padding: 40px;
}

.container_discount .taka2 .pa {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.container_discount .taka2 .pa p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
}

.container_discount .taka2 .pa i {
    color: #FF5400;
}

.container_discount .taka2 h4 {
    font-size: 24px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;

}

.container_discount .taka2 p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
}

.container_discount .taka2 h6 {
    font-size: 20px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #FF5400;

}

.container_discount .hobe {
    display: block;
    width: 210px;
    text-align: center;
    margin:  40px auto 0 auto;
}





/* ---------------Discounts css end -----------*/
/* -----------------Place css ------------*/
.container_place {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.container_place .div1 {
    max-width: 532px;
}

.container_place .div1 h2 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;
}

.container_place .div1 p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
}

.container_place .div1 ul li {
    font-size: 16px;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
    margin-top: 24px;
    margin-bottom: 16px;
}

.container_place .div2 {
    background: url(Images/Group\ 40089.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    border-radius: 16px;
    margin-top: 20px;
}

.container_place .div2 h5 {
    font-size: 24px;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
    color: #131318;
    max-width: 276px;
    margin-top: 25%;
    margin-left: 25%;
}



/* ---------------Place css end -----------*/
/* -----------------Newsletter css ------------*/
.container_newsletter {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.container_newsletter .news {
    max-width: 500px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.container_newsletter .news h4 {
    font-size: 24px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #131318;
    line-height: 0;
}

.container_newsletter .news p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #131318aa;
}

.container_newsletter .news .type input {
    width: 90%;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #424247;
    border-radius: 8px;

}
.container_newsletter .news .lal {
    width: 100%;
    margin-top: 20px;

}

.container_newsletter .news1 {
    background: url(Images/Rectangle\ 8.png);
    position: relative;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.container_newsletter .news1 .cccc {
    width: 324px;
    background: #FF5400;
    border: 8px;
    text-align: center;
    position: absolute;
    border-radius: 16px;
    top: 200px;
    right: 12px;
    transform: rotate(-16deg);
}

.container_newsletter .news1 .cccc p {
    font-size: 24px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #fff;
    line-height: 0;
    padding-top: 20px;
}

.container_newsletter .news1 .cccc h5 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Mulish", sans-serif;
    color: #fff;
    line-height: 0;
    padding-bottom: 10px;

}



/* ---------------Newsletter css end -----------*/
/* -----------------footer css ------------*/

#tsa_travel {
    background: rgba(19, 19, 24, 0.05);
}

.container_travel {
    margin-top: 100px;
    text-align: center;
}

.jorina {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.container_travel p {
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    color: #131318aa;
    max-width: 500px;
    margin: auto;
}

.container_travel .icon {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.container_travel p {
    padding-bottom: 110px;
}